html{
	height: 100%
}

body{
	background-color: #171A1F;
	width: 900px;
	height: 100%;
	border: 3px solid #FFFFD4;
	margin: 0 auto;
	margin-top: 40px;
	font-family: 'Roboto Condensed', sans-serif;
	border: 2px solid #22B38F;
}
.container_foto{
	height: 220px;
	width: 220px;
	border: 1px solid #FFFFD4;
	position: relative;
	top: 110px;
	left: 60px;
	color: #22B38F;
	border: 2px solid #22B38F;
}

.container_date{

	position:relative;
	left:45%;
	top: -115px;
	border: 1px solid #FFFFD4;
	width: 350px;
	height: 500px;
	color: #22B38F;
	border: 2px solid #22B38F;
}

p{
	color: #22B38F;
	margin-left: 28px;
	margin-top: 60px;
}

#paragraf{
	margin-bottom: 60px;
}
