/*outside background color : #171A1F
inside background color: #1A1D22
green button color: #22B38F   */

body{
	background-color: #171A1F;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	overflow: hidden;
}

/*Ocupa intreaga pagina, in caz ca se apasa inafara containerului*/
#whole-page-container{
	width: 100%;
	height: 1080px;
}

/*Outside login container*/
.login-main-container{
	width: 800px;
	height: 680px;
	background-color: #1A1D22;
	border: 2px solid 	#393e47;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 200px;*/
	margin-top: 20px; /*Pus pentru ca initial se da cu 40px in jos dupa translate*/

	opacity: 0;
	transition: opacity 1s, transform 1s, height 0.3s;
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
}

#face-recognition-container{
	width: 640px;
	height: 480px;
	background-color:white;
	margin-left: 20px;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*Textul de header */
.face-rec-header{
	text-align: center;
	color: #d0d8e1;
}

video{
	margin: 0 auto;
	display: block;
	opacity: 0;
	transition : transform 0.5s, opacity 1s, background-color 0.5s;
	transition-timing-function : cubic-bezier(.17,.67,.82,.98);
}

#snap{
	width: 250px; /*300+2 ca sa tina loc si de borderu celorlalte*/
	height: 35px;
	border-radius: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	position: relative;
	background-color: #22B38F;
	border: none;
	cursor: pointer;
	outline: none;
	opacity: 1;
	transition : transform 0.5s, opacity 1s, background-color 0.5s;
	transition-timing-function : cubic-bezier(.17,.67,.82,.98);
}

.commence-face-rec-bttn-text{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	padding-top: 0px;
	font-family: 'Roboto', sans-serif;
}

#canvas, #blank{
	position: absolute;
	display: none;
}



