/*outside background color : #171A1F
inside background color: #1A1D22
green button color: #22B38F   */

body{
	background-color: #171A1F;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
	overflow: hidden;
}

/*Ocupa intreaga pagina, in caz ca se apasa inafara containerului*/
#whole-page-container{
	width: 100%;
	height: 1080px;
}

/*Outside login container*/
.login-main-container{
	width: 350px;
	height: 270px;
	background-color: #1A1D22;
	border: 1px solid 	#393e47;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 200px;*/
	margin-top: 160px; /*Pus pentru ca initial se da cu 40px in jos dupa translate*/
	opacity: 0;
	transition: opacity 1s, transform 1s, height 0.6s;
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
}



/*SIGN IN, SIGN UP, RECOVER
---------------------------------------------------------------------> */


/*The list that contains sign up,sign in,recover*/
.ul-login-tabs{
	padding-left: 0;
	display: inline-block;
	margin-bottom: 5px; /*Margine pusa pentru underline active*/
	margin-left: 33px;
	margin-right: 33px;
	width: 284px;
	/*margin-top: 16px;*/ 
	margin-top: 6px; 
}

/*Sign in, sign up, recover*/
.ul-login-tabs li{
	display: inline-block;
	font-size: 130%;
	color: #d0d8e1;
	width: 83px;
/*	padding-left: 25.133px;*/
	float: left;
	transition: all 0.3s ease;
}

#sign-in, #sign-up, #recover{
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	transition: all 0.4s;
	opacity: 0; /*Initial inainte sa apara pentru prima oara*/
}

#sign-in{
	float: left;
	margin-right: 4.75px;
}

#sign-up{
	text-align: center;
	margin: 0 8.75px;
}

#recover{
	text-align: right;
	float: right;
	margin-left: 12.75px;
}

/*Underline signin signup recover*/
.active-underline{
	margin-top: 7px;
	border: 1px solid #d0d8e1;
	opacity: 0; 
	width: 75px;
	position: relative;
	left: 28px;
	transform: translateX(50px); /* Initial pentru atunci cand apare*/
	border-radius: 3px;
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	transition: all 0.4s;
}



/*USERNAME AND PASSWORD
---------------------------------------------------------------------> */

/*The block of username input and password input*/
.input-block{
	width: 300px;
	height: 40px;
	border:1px solid #393e47;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	position: relative;
}

.input-block-gender{ /*facut special pentru gender*/
	width: 300px;
	height: 80px;
	border:1px solid #393e47;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	transition: all 0.3s;
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	position: relative;
}

#username, #password, #email, #firstname, #lastname, #age, #gender{
	opacity: 0;
	transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	-webkit-transition-timing-function: cubic-bezier(.17,.67,.82,.98);
	transition: transform 0.5s, opacity 0.5s;
	background-color: #1A1D22;
}

/*Text inside the block input*/
.username-text, .password-text, .email-text, .firstname-text, .lastname-text, .age-text{
	position: absolute;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
	top: 0px; /*Nu sterge*/
	width: 0px;
	font-size: 140%;
	margin: 7.5px 0px 0px 25px;
	color: #5a6272;
	transition : transform 0.15s, opacity 0.2s;
	transition-timing-function : cubic-bezier(.17,.67,.82,.98);
	user-select: none;
	z-index: 3; /*Sa fie sub textul de la input*/
}
.gender-text{
	position: relative;
	top: 0px; /*Nu sterge*/
	width: 0px;
	font-size: 140%;
	display: block;
	left: -30px;
	margin: 7.5px auto;
	color: #5a6272;
	transition : transform 0.15s, opacity 0.2s;
	transition-timing-function : cubic-bezier(.17,.67,.82,.98);
	user-select: none;
	z-index: 3; /*Sa fie sub textul de la input*/
}

/*END USERNAME AND PASSWORD-------------------------------------*/





/*Continue button in the login interface*/
#continue-login-button{
	width: 302px; /*300+2 ca sa tina loc si de borderu celorlalte*/
	height: 40px;
	border-radius: 4px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35px;
	position: relative;
	background-color: #22B38F;
	border: none;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition : transform 0.5s, opacity 1s, background-color 0.5s;
	transition-timing-function : cubic-bezier(.17,.67,.82,.98);
}

/*Text inside de login button*/
.continue-text{
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	padding-top: 0px;
	font-family: 'Roboto', sans-serif;
}


input{
	width: 275px; /*300px - paddingul ca sa fie placeholderul mai la dreapta*/
	background-color: transparent;
	border: 0px;
	height: 100%;
	
}

/*Stilul pentru textul din input atunci cand scrii*/
input[type="text"]{
	position: relative;
	padding-left: 25px;
	font-size: 140%;
	color: #d0d8e1;
	font-family: 'Roboto Condensed', sans-serif;
	z-index: 5;
	text-decoration: none;

}

input[type="password"]{
	position: relative;
	padding-left: 25px;
	font-size: 140%;
	color: #d0d8e1;
	font-family: 'Roboto Condensed', sans-serif;
	z-index: 5;
	text-decoration: none;

}

textarea:focus, input:focus{
    outline: none;
}




/* PSEUDO-CLASSES
---------------------------------------------------------------------> */

/*SignUp SignIn Recover*/
.ul-login-tabs li:hover{
	cursor: pointer;
}

#username:hover, #password:hover, #email:hover, #firstname:hover, #lastname:hover, #age:hover{
 	cursor: text;
 }

#gender:hover{
	cursor: normal;
}

/* ---------------------------------------------------------------------->*/

.non-existent{
	cursor: not-allowed;
	display: none;
	position: absolute;
}

.margin-top{
	margin-top: 25px;
}

/* AGE --------------------------------------------------------------------->*/

.age-autodetect-button{
	width: 90px;
	height: 30px;
	background-color: #1A1D22;
	font-size: 100%;
	color: #5a6272;
	user-select: none;
	cursor: pointer;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 200px;
	outline: none;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	z-index: 999;
}

.linie-verticala{
	width: 1px;
	height: 40px;
	border-left: 1px solid #393e47;
	position: absolute;
	top: 0px;
	left: 187px;
}

.input-autodetect-age{
	width: 0px;
	border: 0;
}

/*------------------------------------------------------------------------------>*/

.male-gender-button, .female-gender-button, .autodetect-gender-button{
	width: 70px;
	height: 30px;
	background-color: #1A1D22;
	font-size: 100%;
	color: #5a6272;
	user-select: none;
	border: none;
	cursor: pointer;
	/*outline: none;*/
	transition : transform 0.15s, opacity 0.2s;
	transition-timing-function : cubic-bezier(.17,.67,.82,.98);
	outline: none;
}

.male-gender-button{
	margin-left: 10px;
}

.female-gender-button{
	margin-left: 12px;
}

.autodetect-gender-button{
	width: 100px;
	margin-left: 17px;
}

#gender{
	height: 75px;
}

.gender-text{
	cursor: default;
}

.male-gender-input, .female-gender-input, .autodetect-gender-input{
	width: 0px;
	border: 0;
}
